# INICIO
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rest_appstructure/
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /rest_appstructure/index.php [L]
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /rest_appstructure/index.php
</IfModule>
# FIN
